# flyctl launch added from .gitignore

### VisualStudioCode ###
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
**/*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# flyctl launch added from themes/kiss/.gitignore
themes/kiss/**/.DS_Store
themes/kiss/**/node_modules
fly.toml
