[submodule "themes/kiss"]
	path = themes/kiss
	url =  git@github.com:senyosimpson/kiss.git
[submodule "themes/alageek-theme"]
	path = themes/alageek-theme
	url = git@github.com:senyosimpson/alageek-theme.git
